<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<typeAlias alias="paging" type="co.kr.samwoospace.util.Paging"/>
		<typeAlias alias="resultRecord" type="co.kr.samwoospace.bean.ResultRecord"/>
		<typeAlias alias="techRecord" type="co.kr.samwoospace.bean.TechRecord"/>
		<typeAlias alias="popupRecord" type="co.kr.samwoospace.bean.PopupRecord"/>
		<typeAlias alias="clubRecord" type="co.kr.samwoospace.bean.ClubRecord"/>
		<typeAlias alias="consultRecord" type="co.kr.samwoospace.bean.ConsultRecord"/>
		<typeAlias alias="faqRecord" type="co.kr.samwoospace.bean.FaqRecord"/>
		<typeAlias alias="recruitRecord" type="co.kr.samwoospace.bean.RecruitRecord"/>
		<typeAlias alias="boardRecord" type="co.kr.samwoospace.bean.BoardRecord"/>
		<typeAlias alias="member" type="co.kr.samwoospace.bean.Member"/>
		<typeAlias alias="encodedFile" type="co.kr.samwoospace.bean.EncodedFile"/>
		<typeAlias alias="clubInfoRecord" type="co.kr.samwoospace.bean.ClubInfoRecord"/>
		<!--  
		<typeAlias alias="al" type="java.util.List"/>
		<typeAlias alias="Map" type="java.util.Map"/>
		-->
	</typeAliases>
</configuration>